body {
  margin: 0;
  padding: 0;
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 90px 0px 10px 0px;
    background: url("img/background.jpg") no-repeat;
    background-size: auto;
  }
}

@media only screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 90px 0px 10px 0px;
    background: url("img/background.jpg") no-repeat;
    background-size: auto;
  }
}

@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 90px 0px 10px 0px;
    background: url("img/background.jpg") no-repeat;
    background-size: auto;
  }
}

.box {
  width: 450px;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color: rgba(255, 255, 255, 0.692);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: black;
  font-family: "Poppins";
  border-radius: 10%;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 100;
}

.box h5 {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p {
  text-align: justify;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: rgb(23, 201, 7);
  text-decoration: none;
  font-size: 35px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: white;
}
